<c-page ref="c-page-ref" data-index="1">
  <div slot="header">
    <h class="title">选择设备类型</h>
  </div>
  <div slot="default" class="content">
    <span>
      <c-button on-click="next" data-type="default">
        <span slot="default">确认</span>
      </c-button>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
    </span>
  </div>
</c-page>
