<c-page ref="c-page-ref" data-index="1" on-scroll="scroll" x-style="style">
  <div slot="default" class="content">
    <span>
      <c-button on-click="next" data-type="default">
        <span slot="default">确认</span>
      </c-button>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
      <div>确认</div>
    </span>
  </div>
</c-page>
