// @use 'sass:color';

$font-color-dark: rgba(255, 255, 255, 0.87);
$font-color-light: rgba(0, 0, 0, 0.87);
$background-color-dark: #000000;
$background-color-light: #f2f1f6;
$fg-white: rgba(255, 255, 255, 0.87);
$bg-white: #ffffff;
$fg-black: rgba(0, 0, 0, 0.87);
$bg-black: #242424;
$fg-blue: #3b81f6;
$bg-blue: #3374ff;
$fg-gray-dark: #8c8c91;
$fg-gray-white: #85858a;
$bg-gray-dark-hover: #3a3a3b;
$bg-gray-white-hover: #d1d0d5;

$cubic-bezier: cubic-bezier(0.27, 0.4, 0.2, 0.99);

$margin: 1.6rem;
$padding: 0.8rem;

$radius: 0.8rem;

$scrollbar-width: 4px;

$component-max-width: 360px;

$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

@mixin no-margin-divider {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0.2px;
    @supports (-webkit-touch-callout: none) {
      height: 1px;
    }
    background-color: $bg-gray-dark-hover;
    @content;
  }

  &:first-child::after {
    content: none;
  }
}

a {
  text-decoration: none;
  transition: color 0.5s $cubic-bezier;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  background-color: #00000022;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00000033;
}

::-webkit-scrollbar-thumb:active {
  background-color: #00000044;
}
