// @use 'sass:color';

$font-color-dark: rgba(255, 255, 255, 0.87);
$font-color-light: rgba(0, 0, 0, 0.87);
$background-color-dark: #000000;
$background-color-light: #f2f1f6;
$fg-white: rgba(255, 255, 255, 0.87);
$bg-white: #ffffff;
$fg-black: rgba(0, 0, 0, 0.87);
$bg-black: #242424;
$fg-blue: #3b81f6;
$bg-blue: #3374ff;

$cubic-bezier: cubic-bezier(0.27, 0.4, 0.2, 0.99);

$margin: 16px;

$radius: 10px;

$scrollbar-width: 4px;

$component-max-width: 360px;

a {
  text-decoration: none;
  transition: color 0.5s $cubic-bezier;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  background-color: #00000022;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00000033;
}

::-webkit-scrollbar-thumb:active {
  background-color: #00000044;
}
