.c-button {
  position: relative;
  border: 1px solid #00000000;
  font-size: 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.1s;
  user-select: none;
  -webkit-user-select: none;
}

.c-button[data-type='default'] {
  border-radius: $radius;
  padding: 0.8rem 0rem;
  width: calc(100% - 32px);
  max-width: 360px;
  box-sizing: border-box;
  background-color: $bg-blue;
  color: #fff;
  margin: 0 auto $margin;

  &:hover {
    background-color: scale-color($bg-blue, $lightness: 10%);
  }

  &:active {
    background-color: scale-color($bg-blue, $lightness: -5%);
  }

  @supports (-webkit-touch-callout: none) {
    &:hover {
      background-color: scale-color($bg-blue, $lightness: -10%);
    }
  }

  @media (prefers-color-scheme: light) {
  }
}

.c-button[data-type='back'] {
  border-radius: 5px;
  padding: 0.3rem 0.5rem 0.3rem 0.3rem;
  background-color: #ffffff00;
  color: $fg-blue;
  transition:
    background-color 0.3s,
    color 0.1s;

  &:hover {
    background-color: #ffffff33;
  }

  &:active {
    color: scale($fg-blue, 20%);
  }

  // 用于选中safari
  @supports (-webkit-touch-callout: none) {
    &:hover {
      color: rgba($fg-blue, 0.6);
      background-color: #ffffff00;
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: #00000000;

    &:hover {
      background-color: #00000016;
    }
  }
}
