<div id="l-index" ref="l-index-ref">
  <header ref="header-ref">
    <span ref="back-root-ref" class="back">
      <c-button
        ref="back-but-ref"
        on-click="back"
        data-type="back"
        style="position: absolute; top: 50%; transform: translate(0, -50%)"
      >
        <span class="but-slot-def" slot="default">
          <c-icon
            name="left"
            size="1rem"
            style="position: absolute; top: 50%; transform: translate(0, -50%)"
          ></c-icon>
          <span ref="back-span-ref" class="back-span">
            <span>首页</span>
            <span>首页</span>
          </span>
        </span>
      </c-button>
    </span>
    <span ref="title-root-ref" class="title">
      <span ref="title-span-ref" class="title-span">
        <span>首页</span>
        <span>选择</span>
      </span>
    </span>
  </header>
  <v-home ref="v-home-ref" on-next="next" expose="home-exp"></v-home>
  <v-sd-type ref="v-sd-type-ref" on-next="next" on-scroll="scroll"></v-sd-type>
  <v-sd-type ref="v-sd-type-ref2" on-next="next" on-scroll="scroll"></v-sd-type>
  <v-sd-type ref="v-sd-type-ref3" on-next="next" on-scroll="scroll"></v-sd-type>
  <v-sd-type ref="v-sd-type-ref4" on-next="next" on-scroll="scroll"></v-sd-type>
  <v-sd-type ref="v-sd-type-ref5" on-next="next" on-scroll="scroll"></v-sd-type>
</div>
