:root {
  --root-width: 100vw;
}

#l-index {
  // display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  max-width: 100vw;
  min-width: 320px;
  text-align: center;
  overflow: hidden;
  transition: all 0.5s $cubic-bezier;

  background-color: $background-color-dark;

  @media (prefers-color-scheme: light) {
    background-color: $background-color-light;
  }

  &.pure header {
    background-color: $background-color-dark;
    border-bottom-color: #00000000;

    @media (prefers-color-scheme: light) {
      background-color: $background-color-light;
    }
  }

  &.vague header {
    background-color: rgba($bg-black, 0.9);
    border-bottom-color: rgba($bg-white, 0.3);

    @media (prefers-color-scheme: light) {
      background-color: rgba($bg-white, 0.9);
      border-bottom-color: rgba($bg-black, 0.3);
    }
  }

  & header {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 2.6rem;
    font-size: 1rem;
    backdrop-filter: blur(10px);
    background-color: $background-color-dark;
    transition: all 0.5s $cubic-bezier;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: #00000000;

    @media (prefers-color-scheme: light) {
      background-color: $background-color-light;
    }

    &.hide {
      opacity: 0;
    }

    @mixin backButton {
      top: 50%;
      transform: translate(0, -50%);
      left: 1.6rem;
      color: $fg-blue;
      @content;
    }

    @mixin titleToBackBut {
      top: 50%;
      left: calc(1.6rem + 5px - var(--root-width) / 2);
      transform: translate(0, -50%);
      color: $fg-blue;
      @content;
    }

    @mixin backButDisappear {
      top: 50%;
      transform: translate(0, -50%);
      left: calc(-50%);
      pointer-events: none;
      @content;
    }

    @mixin butToTitle {
      top: 50%;
      left: calc(var(--root-width) / 2 - 5px);
      transform: translate(-50%, -50%);
      pointer-events: none;
      @content;
    }

    @mixin title {
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      pointer-events: none;
      @content;
    }

    @mixin titleDisappear {
      top: 50%;
      transform: translate(0, -50%);
      left: calc(var(--root-width) / 2);
      pointer-events: none;
      @content;
    }

    & .back {
      position: absolute;
      transition: all 0.5s $cubic-bezier;
      margin: 0 0 0 5px;
      padding: 0;
      height: 1rem;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);

      & .but-slot-def {
        display: flex;

        & .back-span {
          display: inline-block;
          transition: all 0.5s $cubic-bezier;
          height: 1rem;
          // width: 4rem;
          font-weight: 700;

          &.add {
            & span {
              transition: all 0.5s $cubic-bezier;
              display: inline-block;
              position: absolute;
              white-space: nowrap;
              &:first-child {
                animation: back-add-1 0.5s $cubic-bezier forwards;
              }

              &:last-child {
                animation: back-add-2 0.5s $cubic-bezier forwards;
              }
            }
          }

          &.reduce {
            & span {
              transition: all 0.5s $cubic-bezier;
              display: inline-block;
              position: absolute;
              white-space: nowrap;

              &:first-child {
                animation: back-reduce-1 0.5s $cubic-bezier forwards;
              }

              &:last-child {
                animation: back-reduce-2 0.5s $cubic-bezier forwards;
              }
            }
          }
        }

        @keyframes back-add-1 {
          0% {
            @include butToTitle {
              opacity: 0;
            }
          }
          100% {
            @include backButton {
              opacity: 1;
            }
          }
        }

        @keyframes back-add-2 {
          0% {
            @include backButton {
              opacity: 1;
            }
          }
          100% {
            @include backButDisappear {
              opacity: 0;
            }
          }
        }

        @keyframes back-reduce-1 {
          0% {
            @include backButDisappear {
              opacity: 0;
            }
          }
          100% {
            @include backButton {
              opacity: 1;
            }
          }
        }

        @keyframes back-reduce-2 {
          0% {
            @include backButton {
              opacity: 1;
            }
          }
          100% {
            @include butToTitle {
              opacity: 0;
            }
          }
        }
      }
    }

    & .title {
      position: absolute;
      transition: all 0.5s $cubic-bezier;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;

      color: $fg-white;
      font-weight: 700;

      @media (prefers-color-scheme: light) {
        color: $fg-black;
      }

      & .title-span {
        display: inline-block;
        transition: all 0.5s $cubic-bezier;
        &.add {
          & span {
            transition: all 0.5s $cubic-bezier;
            display: inline-block;
            position: absolute;
            white-space: nowrap;
            &:first-child {
              animation: title-add-1 0.5s $cubic-bezier forwards;
            }

            &:last-child {
              animation: title-add-2 0.5s $cubic-bezier forwards;
            }
          }
        }

        &.reduce {
          & span {
            transition: all 0.5s $cubic-bezier;
            display: inline-block;
            position: absolute;
            white-space: nowrap;
            &:first-child {
              animation: title-reduce-1 0.5s $cubic-bezier forwards;
            }

            &:last-child {
              animation: title-reduce-2 0.5s $cubic-bezier forwards;
            }
          }
        }

        @keyframes title-add-1 {
          0% {
            @include title {
              opacity: 1;
            }
          }
          100% {
            @include titleToBackBut {
              opacity: 0;
            }
          }
        }

        @keyframes title-add-2 {
          0% {
            @include titleDisappear {
              opacity: 0;
            }
          }
          100% {
            @include title {
              opacity: 1;
            }
          }
        }

        @keyframes title-reduce-1 {
          0% {
            @include titleToBackBut {
              opacity: 0;
            }
          }
          100% {
            @include title {
              opacity: 1;
            }
          }
        }

        @keyframes title-reduce-2 {
          0% {
            @include title {
              opacity: 1;
            }
          }
          100% {
            @include titleDisappear {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
}

@media (max-width: 600px) {
  /* 针对小型设备的样式 */
}

@media (min-width: 601px) {
  /* 针对中型设备的样式 */
  #l-index {
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #ffffff33;

    @media (prefers-color-scheme: light) {
      box-shadow: 0 0 10px 0 #00000033;
    }
  }
}

@media (min-width: 601px) and (max-height: 428.5px) {
  #l-index {
    height: 300px;
  }
}

@media (min-width: 1025px) {
  /* 针对大型设备的样式 */
}

@media (min-width: 1440px) {
  /* 针对超大型设备的样式 */
}
