<div id="l-index">
  <header>
    <span ref="back-root-ref" class="back hide">
      <c-button ref="back-but-ref" on-click="back" data-type="back">
        <span class="but-slot-def" slot="default">
          <c-icon name="left" size="0.9rem"></c-icon>
          <span ref="back-span-ref" class="back-span">
            <span>首页</span>
            <span>首页</span>
          </span>
        </span>
      </c-button>
    </span>
  </header>
  <v-home ref="v-home-ref"></v-home>
  <v-sd-type ref="v-sd-type-ref"></v-sd-type>
  <v-sd-type ref="v-sd-type-ref2"></v-sd-type>
  <v-sd-type ref="v-sd-type-ref3"></v-sd-type>
  <v-sd-type ref="v-sd-type-ref4"></v-sd-type>
  <v-sd-type ref="v-sd-type-ref5"></v-sd-type>
</div>
