<div class="card">
  <slot name="default">
    <div class="default">
      <div class="header-icon">
        <span><c-icon name="radius-upleft" size="1.6rem"></c-icon></span>
        <span><c-icon name="radius-setting" size="1.6rem"></c-icon></span>
        <span><c-icon name="radius-bottomleft" size="1.6rem"></c-icon></span>
        <span><c-icon name="radius-bottomright" size="1.6rem"></c-icon></span>
      </div>
      <div class="content">
        <p>
          <a
            href="https://github.com/XunJiJiang/Pseudo-Transparent-Icon"
            target="_blank"
          >
            <c-icon name="github-fill" size="0.8rem"></c-icon>
            进一步了解伪透明图标和xj-web-core...
          </a>
        </p>
      </div>
    </div>
  </slot>
</div>
