@media (min-width: 504px) {
}

.c-page {
  position: absolute;
  transform: translateX(0);
  transition:
    transform 0.5s $cubic-bezier,
    opacity 0.5s $cubic-bezier;
  width: calc(100% + $scrollbar-width);
  height: 100%;
  height: -webkit-fill-available;
  box-sizing: border-box;
  overflow-y: auto;
  user-select: none;
  -webkit-user-select: none;
  justify-content: center;
  align-items: center;

  background-color: $background-color-dark;

  @media (prefers-color-scheme: light) {
    background-color: $background-color-light;
  }

  & main {
    box-sizing: border-box;
    // padding: calc(2.8rem + $margin) 0 32px 0;
  }

  // 首级页面，标题居中，占多半高度，不展示返回按钮
  &.page-0 {
    & main {
      padding: $margin 0 32px 0;
    }
  }

  // 一级页面，标题置顶，占很少高度，展示返回按钮
  &.page-1 {
    & main {
      padding: calc(2.8rem + $margin) 0 32px 0;
    }
  }
}

@media (prefers-color-scheme: light) {
}
