@media (max-width: 600px) {
  /* 针对小型设备的样式 */
}

@media (min-width: 601px) and (max-width: 1024px) {
  /* 针对中型设备的样式 */
}

@media (min-width: 1025px) {
  /* 针对大型设备的样式 */
}

@media (min-width: 1440px) {
  /* 针对超大型设备的样式 */
}

.c-page {
  position: absolute;
  // left: 0;
  transform: translateX(0);
  transition:
    transform 0.5s $cubic-bezier,
    opacity 0.5s $cubic-bezier;
  width: calc(100% + 4px);
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
  -webkit-user-select: none;
  justify-content: center;
  align-items: center;

  background-color: $background-color-dark;

  @media (prefers-color-scheme: light) {
    background-color: $background-color-light;
  }

  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
    max-height: -webkit-fill-available;
  }

  & main {
    box-sizing: border-box;
    overflow-x: hidden;
    padding: calc(2.8rem + 16px) 0 32px 0;
  }

  // 首级页面，标题居中，占多半高度，不展示返回按钮
  // &.page-0 {
  //   & main {
  //   }
  // }

  // 一级页面，标题置顶，占很少高度，展示返回按钮
  // &.page-1 {
  //   & main {
  //   }
  // }
}

@media (prefers-color-scheme: light) {
}
